a {color: #eee; text-decoration: none}
a:hover {color: blue;}

body {overflow: auto; overflow-y: auto;
    background-color: white;
    background-image: url('bg.png');
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    margin: 0px;}

#debugJeeARCanvas {
    z-index: 10;
    position: absolute; 
    max-height: 100%;
    max-width: 100%;
    left: 50%;
    top: 50%;
    width: 100vmin;
    transform: translate(-50%, -50%) rotateY(180deg);
} 

.notice {
    position: fixed;
    color: black;
    text-align: center;
    width: 100%;
    bottom: 1em;
    background-color: rgba(255,255,255,0.5);
}

.explanation > a{
    color: navy;
}
.explanation {
    font-size: 14pt;
    margin: 12px;
}